Package: com.noisyflake.hiddenphotoscc
Name: HiddenPhotosCC
Depends: mobilesubstrate, com.opa334.ccsupport
Version: 1.0.0
Architecture: iphoneos-arm
Description: Hidden Photos Control Center module
Maintainer: NoisyFlake
Author: NoisyFlake
Section: Control Center (Modules)
